@import "../../css/vars";

.form-group{
  margin-top: 50px;
}

.custom-form-control {
  border-radius: 2px !important;
  padding-right: 24px;
}

.custom-input-group-addon {
  line-height: 34px;
  vertical-align: middle;
  z-index:10;
  position: absolute;
  right:10px;
  color:#CCC;
}
.delete-button{
  color: indianred;
}
a {
  text-decoration: none !important;
}
.navbar-background{
  position: relative;
  border-bottom: 1px solid $pinkish-grey;
  margin-bottom: 40px;
}
.table-nav-item{
  cursor: pointer;
  padding: 20px 0;
  margin-right: 40px;
  color: $pinkish-grey;
  margin-bottom: -1px;
  border-bottom: 1px solid $pinkish-grey;
  &:hover, &.active{
    color: $black;
    border-bottom: 1px solid $pinkish-orange;
    & .badge{
      border: 1px solid $black;
      color: $black;
    }
  }
}
.badge{
  padding: 3px 5px;
  font-size: 10px;
  font-weight: 500;
  margin-left: 1em;
  background-color: $white;
  border: 1px solid $pinkish-grey;
  color: $pinkish-grey;
  &.badge-selected{
    background-color: $pinkish-orange;
    border: none;
    color: $white;
  }
}
.add-item-button{
  cursor: pointer;
  background-color: $pinkish-orange;
  height: 60px;
  width: 60px;
  color: $white;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  line-height: 60px;
  font-size: 30px;
  font-weight: 100;
  vertical-align: middle;
  text-align: center;
  right:0;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(136,136,136,1);
  -moz-box-shadow: 0px 10px 40px 0px rgba(136,136,136,1);
  box-shadow: 0px 10px 40px 0px rgba(136,136,136,1);
  &:hover{
    background-color:#f97d53;
  }
}
@media (max-width: 768px) {
  .navbar-background{
    border-bottom: none;
  }
}
