<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group">
          <input Body="text" class="form-control custom-form-control" placeholder="Поиск по слову" [(ngModel)]="search">
          <div class="custom-input-group-addon"><i class="fa fa-search"></i></div>
        </div>
      </div>
    </div>
    <div class="col-md-8 checkbox-wrapper">
        <label class="checkbox-inline">
          <input [(ngModel)]="filterConditions[0]" type="checkbox" value="">Персональное
        </label>
        <label class="checkbox-inline">
          <input [(ngModel)]="filterConditions[1]" type="checkbox" value="">Ночное
        </label>
        <label class="checkbox-inline">
          <input [(ngModel)]="filterConditions[2]" type="checkbox" value="">Срочное
        </label>
    </div>
  </div>

  <table *ngIf="data && (data | filter : filterConditions | search : search).length" class="table">
    <thead>
    <tr>
      <td nowrap>
        ID
      </td>
      <td nowrap>
        <a href="" (click)="sortTable($event, 'Loc')">
          Город
          <span *ngIf="sortingField === 'Loc' && !reverseSorting" class="fa fa-caret-up"></span>
          <span *ngIf="sortingField === 'Loc' && reverseSorting" class="fa fa-caret-down"></span>
          <span *ngIf="sortingField !== 'Loc'" class="fa fa-sort"></span>
        </a>
      </td>
      <td nowrap>
        <a href="" (click)="sortTable($event, 'Body')">
          Название
          <span *ngIf="sortingField === 'Body' && !reverseSorting" class="fa fa-caret-up"></span>
          <span *ngIf="sortingField === 'Body' && reverseSorting" class="fa fa-caret-down"></span>
          <span *ngIf="sortingField !== 'Body'" class="fa fa-sort"></span>
        </a>
      </td>
      <td nowrap>
        <a href="" (click)="sortTable($event, 'Deadline')">
          Выполнить до
          <span *ngIf="sortingField === 'Deadline' && !reverseSorting" class="fa fa-caret-up"></span>
          <span *ngIf="sortingField === 'Deadline' && reverseSorting" class="fa fa-caret-down"></span>
          <span *ngIf="sortingField !== 'Deadline'" class="fa fa-sort"></span>
        </a>
      </td>
      <td nowrap>
        <a href="" (click)="sortTable($event, 'Price')">
          Сумма
          <span *ngIf="sortingField === 'Price' && !reverseSorting" class="fa fa-caret-up"></span>
          <span *ngIf="sortingField === 'Price' && reverseSorting" class="fa fa-caret-down"></span>
          <span *ngIf="sortingField !== 'Price'" class="fa fa-sort"></span>
        </a>
      </td>
    </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of data
                  | filter : filterConditions
                  | search : search
                  | sortBy: {Field: sortingField} : reverseSorting;
                  let i = index;
                  trackBy: trackByFn;">
        <td>{{item.id}}</td>
        <td>{{item.Loc}}</td>
        <td>{{item.Body}}</td>
        <td>{{item.Deadline | date}}</td>
        <td>{{item.Price | number:'.2' }}&#8381;</td>
        <td><a href="" type="button" class="delete-button" (click)="deleteCurrent($event, item)"><i class="fa fa-minus-square" aria-hidden="true"></i></a></td>
      </tr>
    </tbody>

  </table>

  <div *ngIf="!(data && (data | filter : filterConditions | search : search).length)" class="well">
    Ничего не найдено =(
  </div>

</div>

