<div class="row">
  <div class="col-md-12"><h2>Container</h2></div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="well">
      <h4>flex-direction</h4>
      <div class="radio">
        <label><input type="radio" name="FD-row" [(ngModel)]="container.flexDirection" value="row">row</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="FD-row-reverse" [(ngModel)]="container.flexDirection" value="row-reverse">row-reverse</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="FD-column" [(ngModel)]="container.flexDirection" value="column">column</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="FD-column-reverse" [(ngModel)]="container.flexDirection" value="column-reverse">column-reverse</label>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="well">
      <h4>justify-content</h4>
      <div class="radio">
        <label><input type="radio" name="JC-flex-start" [(ngModel)]="container.justifyContent" value="flex-start">flex-start</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="JC-flex-end" [(ngModel)]="container.justifyContent" value="flex-end">flex-end</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="JC-center" [(ngModel)]="container.justifyContent" value="center">center</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="JC-space-between" [(ngModel)]="container.justifyContent" value="space-between">space-between</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="JC-space-around" [(ngModel)]="container.justifyContent" value="space-around">space-around</label>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="well">
      <h4>align-items</h4>
      <div class="radio">
        <label><input type="radio" name="AI-flex-start" [(ngModel)]="container.alignItems" value="flex-start">flex-start</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AI-flex-end" [(ngModel)]="container.alignItems" value="flex-end">flex-end</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AI-center" [(ngModel)]="container.alignItems" value="center">center</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AI-baseline" [(ngModel)]="container.alignItems" value="baseline">baseline</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AI-stretch" [(ngModel)]="container.alignItems" value="stretch">stretch</label>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="well">
      <h4>align-content</h4>
      <div class="radio">
        <label><input type="radio" name="AC-flex-start" [(ngModel)]="container.alignContent" value="flex-start">flex-start</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AC-flex-end" [(ngModel)]="container.alignContent" value="flex-end">flex-end</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AC-center" [(ngModel)]="container.alignContent" value="center">center</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AC-space-between" [(ngModel)]="container.alignContent" value="space-between">space-between</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AC-space-around" [(ngModel)]="container.alignContent" value="space-around">space-around</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AC-stretch" [(ngModel)]="container.alignContent" value="stretch">stretch</label>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="well">
      <h4>align-content</h4>
      <div class="radio">
        <label><input type="radio" name="FW-flex-start" [(ngModel)]="container.flexWrap" value="nowrap">nowrap</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="FW-wrap" [(ngModel)]="container.flexWrap" value="wrap">wrap</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="FW-wrap-reverse" [(ngModel)]="container.flexWrap" value="wrap-reverse">wrap-reverse</label>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="well">
      <h4>width in percents</h4>
      <div class="form-group">
        <input type="number" class="form-control" min="10" max="100" [(ngModel)]="container.width">
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12"><h2>Children</h2></div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="well">
      <h4>num of children</h4>
      <div class="form-group">
        <input type="number" class="form-control" min="1" max="10" [(ngModel)]="numberOfChildren" (change)="setNumberOfChildren(numberOfChildren)">
      </div>
      <h4>select child</h4>
      <div class="form-group">
        <select class="form-control"
                [(ngModel)]="selectedChild">
          <option *ngFor="let child of children" [value]="child">{{child}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-2" *ngIf="!selectedChild">
    <div class="well">
      <h4>width in pixels</h4>
      <div class="form-group">
        <input type="number"
               class="form-control"
               [min]="20"
               [max]="300"
               [(ngModel)]="commonStyles.width"
               (change)="setCommonStyle()">
      </div>
      <h4>height in pixels</h4>
      <div class="form-group">
        <input type="number"
               class="form-control"
               [min]="20"
               [max]="300"
               [(ngModel)]="commonStyles.height"
               (change)="setCommonStyle()">
      </div>
      <h4>margins</h4>
      <div class="form-group">
        <input type="number"
               class="form-control"
               [min]="20"
               [max]="300"
               [(ngModel)]="commonStyles.margins"
               (change)="setCommonStyle()">
      </div>
    </div>
  </div>

  <div class="col-md-2" *ngIf="selectedChild">
    <div class="well">
      <h4>width in pixels</h4>
      <div class="form-group">
        <input type="number" class="form-control" [min]="20" [max]="300" [(ngModel)]="childrenStyles[selectedChild-1].width">
      </div>
      <h4>height in pixels</h4>
      <div class="form-group">
        <input type="number" class="form-control" [min]="20" [max]="300" [(ngModel)]="childrenStyles[selectedChild-1].height">
      </div>
      <h4>margins</h4>
      <div class="form-group">
        <input type="number" class="form-control" [min]="20" [max]="300" [(ngModel)]="childrenStyles[selectedChild-1].margins">
      </div>
    </div>
  </div>

  <div class="col-md-2" *ngIf="selectedChild">
    <div class="well">
      <div class="form-group">
        <h4>order</h4>
        <input type="number" class="form-control" min="1" [max]="numberOfChildren" [(ngModel)]="childrenStyles[selectedChild-1].order">
      </div>
      <div class="form-group">
        <h4>flex-shrink</h4>
        <input type="number" class="form-control" min="1" max="5" [(ngModel)]="childrenStyles[selectedChild-1].shrink">
      </div>
      <div class="form-group">
        <h4>flex-grow</h4>
        <input type="number" class="form-control" min="1" max="5" [(ngModel)]="childrenStyles[selectedChild-1].grow">
      </div>
    </div>
  </div>

  <div class="col-md-2" *ngIf="selectedChild">
    <div class="well">
      <h4>align-self</h4>
      <div class="radio">
        <label><input type="radio" name="AS-auto" [(ngModel)]="childrenStyles[selectedChild-1].alignSelf" value="auto">auto</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AS-flex-start" [(ngModel)]="childrenStyles[selectedChild-1].alignSelf" value="flex-start">flex-start</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AS-flex-end" [(ngModel)]="childrenStyles[selectedChild-1].alignSelf" value="flex-end">flex-end</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AS-center" [(ngModel)]="childrenStyles[selectedChild-1].alignSelf" value="center">center</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AS-baseline" [(ngModel)]="childrenStyles[selectedChild-1].alignSelf" value="baseline">baseline</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="AS-stretch" [(ngModel)]="childrenStyles[selectedChild-1].alignSelf" value="stretch">stretch</label>
      </div>
    </div>
  </div>

</div>

<div class="well flex-container"
     [style.flex-direction]="container.flexDirection"
     [style.justify-content]="container.justifyContent"
     [style.align-items]="container.alignItems"
     [style.align-content]="container.alignContent"
     [style.flex-wrap]="container.flexWrap"
     [style.width]="returnContainerWidth()">

  <div *ngFor="let child of children; let i = index; trackBy: trackByFn"
       (click)="selectChild(i)"
       class="well flex-child"
       [ngClass]="{'selected': child == selectedChild}"
       [style.width]="returnWidth(i)"
       [style.height]="returnHeight(i)"
       [style.margin]="returnMargins(i)"
       [style.line-height]="returnHeight(i)"
       [style.align-self]="childrenStyles[i].alignSelf"
       [style.flex-grow]="childrenStyles[i].width ? childrenStyles[i].grow : ''"
       [style.flex-shrink]="childrenStyles[i].width ? childrenStyles[i].shrink : ''"
       [style.order]="childrenStyles[i].width ? childrenStyles[i].order : ''">
    <span class="label label-danger">{{child}}</span>
  </div>

</div>
