<div class="form-group">
  <label for="txt">Enter text to copy:</label>
  <input type="text" class="form-control" id="txt" [(ngModel)]="textToCopy">
</div>
<button type="button" class="btn btn-default" (click)="copyTrackCode()">Copy to clipboard</button>

<p *ngIf="textToCopy">This text will be copied to clipboard: {{textToCopy}}</p>

<div style="margin-top: 20px">
  <ul>
    <li *ngFor="let tech of technologies"
        [@itemState]="tech.state"
        (click)="tech.toggleState()">
      {{tech.name}}
    </li>
  </ul>
</div>

