<div class="container">

  <h2>Добавление нового задания</h2>

  <form class="well" (submit)="addTask()">
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="location">Город</label>
        <select (change)="setLocation(selectedCity)" [(ngModel)]="selectedCity" required id="location" name="location" class="form-control">
          <option *ngFor="let city of cities; let i = index; trackBy: trackByFn;" [value]="city">{{city}}</option>
        </select>
        <label for="deadline">Крайний срок</label>
        <div class="input-group">
        <input required (focus)="unselect($event)" [ngModel]="task.Deadline | date" type="text" id="deadline" name="deadline" class="form-control disabled">
          <div class="input-group-btn">
            <button (click)="GENrandomDate()" class="btn btn-default" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>

        <label for="price">Цена</label>
        <input [(ngModel)]="task.Price" required type="number" id="price" name="price" class="form-control">
      </div>
      <div class="col-md-8 form-group">
        <label for="task">Описание</label>
        <textarea [(ngModel)]="task.Body" required type="text" id="task" name="body" rows="5" class="form-control"></textarea>
        <div style="margin-top: 15px">
          <label class="checkbox-inline">
            <input [(ngModel)]="task.Personal" type="checkbox" name="personal" value="">Персональное
          </label>
          <label class="checkbox-inline">
            <input [(ngModel)]="task.Night" type="checkbox" name="night" value="">Ночное
          </label>
          <label class="checkbox-inline">
            <input [(ngModel)]="task.Urgent" type="checkbox" name="urgent" value="">Срочное
          </label>
        </div>

      </div>
    </div>

    <button type="submit" class="btn btn-default">Добавить задание</button>
  </form>
</div>


