@import "../css/vars";

.navbar {
  border-radius: 0;
  border: none;
  margin: 0;
  a.navbar-override {
    height:60px;
    line-height: 30px;
    vertical-align: middle;
  }
}
.navbar-background{
  background-color: $black;
}
.navbar-brand{
  color: $white;
}
.notifications-item{
  position: relative;
  .notifications-icon-spot{
    left: 28px;
    top: 22px;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: $pinkish-orange;
  }
}

@media (max-width: 768px) {
  .notifications-item {
    .notifications-icon-spot {
      top: 18px;
    }
  }
}
