* {
  margin:0;
  padding:0;
  transition: 500ms;
}
.slider {
  position: relative;
  margin:auto;
  width:960px;
  height:540px;
  overflow: hidden;
  white-space: nowrap;
}
.slide {
  display: inline-block;
  &.active {
    display: inline-block;
    transform:translate(-200px);
  }
}
img {
  width: 100%;
  height: 100%;
}
.slider-button-wrapper {
  position: absolute;
  top:50%;
  width:100%;
  margin-top: -25px;
  height:50px;
}
.slider-button {
  color:white;
  box-sizing: border-box;
  border-radius: 5px;
  width:50px;
  height:100%;
  border: none;
  background-color: rgba(255,255,255,.3);
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  margin: 0 20px;
  cursor: pointer;
  &:first-child {
    float:left;
  }
  &:last-child {
    float:right;
  }
  &:hover,&:focus{
    background-color: rgba(255,255,255,.5);
    outline: none;
    box-shadow: 0 0 3pt 2pt white;
  }
}
.slider-nav-wrapper {
  text-align: center;
  position: absolute;
  bottom: 0;
  width:100%;
  height:50px;
}
.slider-nav-list {
  line-height: 50px;
  li {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    color:white;
    padding:3px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    margin: 0 2px;
    &:hover, &.active {
      box-shadow: 0 0 2pt 1pt white;
      background-color: black;
    }
  }
}

